<a href="https://colab.research.google.com/github/thumb-chuu/BigData-Internship_WebCrawling/blob/main/%EC%97%84%EC%A7%80%EC%88%98_%EC%8B%A4%EC%8A%B5(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- save_csv.ipynb 실습

In [1]:
import csv

In [2]:
# file open, newline=''으로 개행문자 지정
with open('top_cities.csv', 'w', newline='') as f:
    # csv.writer는 파일 객체를 매개변수로 지정
    writer = csv.writer(f)  
    # 첫 번째 줄에는 헤더를 작성합니다.
    writer.writerow(['rank', 'city', 'population'])  
    # writerows()에 리스트를 전달하면 여러 개의 값을 출력
    writer.writerows([
        [1, '상하이', 24150000],
        [2, '카라치', 23500000],
        [3, '베이징', 21516000],
        [4, '텐진', 14722100],
        [5, '이스탄불', 14160467],
    ])

- save_csv_dict.ipynb 실습

In [3]:
import csv

In [4]:
with open('top_cities.csv', 'w', newline='') as f:
    # 첫 번째 매개변수에 파일 객체
    # 두 번째 매개변수에 필드명 리스트를 지정
    writer = csv.DictWriter(f, ['rank', 'city', 'population'])
      # 첫 번째 줄에 헤더를 입력
    writer.writeheader()
    # writerows()로 여러 개의 데이터를 딕셔너리 형태로 작성
    writer.writerows([
        {'rank': 1, 'city': '상하이', 'population': 24150000},
        {'rank': 2, 'city': '카라치', 'population': 23500000},
        {'rank': 3, 'city': '베이징', 'population': 21516000},
        {'rank': 4, 'city': '텐진', 'population': 14722100},
        {'rank': 5, 'city': '이스탄불', 'population': 14160467},
    ])

- encoding_check.ipynb 실습

In [5]:
import csv

In [6]:
with open('top_cities.csv', 'w', newline='', encoding='utf-8') as f:
    # 첫 번째 매개변수에 파일 객체
    # 두 번째 매개변수에 필드명 리스트를 지정
    writer = csv.DictWriter(f, ['rank', 'city', 'population'])
      # 첫 번째 줄에 헤더를 입력
    writer.writeheader()
    # writerows()로 여러 개의 데이터를 딕셔너리 형태로 작성
    writer.writerows([
        {'rank': 1, 'city': '상하이', 'population': 24150000},
        {'rank': 2, 'city': '카라치', 'population': 23500000},
        {'rank': 3, 'city': '베이징', 'population': 21516000},
        {'rank': 4, 'city': '텐진', 'population': 14722100},
        {'rank': 5, 'city': '이스탄불', 'population': 14160467},
    ])

In [7]:
import chardet

In [8]:
char_dic = chardet.detect(open('top_cities.csv', 'rb').read())

In [9]:
char_dic['encoding']

'utf-8'

- save_json.ipynb 실습

In [10]:
import json

In [11]:
cities = [ 
{'rank': 1, 'city':'상하이', 'population': 24150000},
{'rank': 2, 'city':'카라치', 'population': 23500000},
{'rank': 3, 'city':'베이징', 'population': 21516000},
{'rank': 4, 'city':'텐진', 'population': 14722100}, 
{'rank': 5, 'city':'이스탄불', 'population':14160467},
]

In [12]:
with open('top_cities.json', 'w') as fw:
    json.dump(cities, fw)

In [13]:
with open('top_cities.json', 'r') as fr:
    json_file = json.load(fr)
    print(json_file)

[{'rank': 1, 'city': '상하이', 'population': 24150000}, {'rank': 2, 'city': '카라치', 'population': 23500000}, {'rank': 3, 'city': '베이징', 'population': 21516000}, {'rank': 4, 'city': '텐진', 'population': 14722100}, {'rank': 5, 'city': '이스탄불', 'population': 14160467}]

- save_sqlite3.ipynb 실습

In [14]:
import pandas as pd
import sqlite3
from pandas.io import sql
import os

In [15]:
DB_NAME = 'top_cities.db'
TABLE_NAME = 'TOP_CITIES'

In [16]:
def db_save(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            df.to_sql(name = table_name, con = con, index = False, if_exists='append')
            #if_exists : {'fail', 'replace', 'zppend'} default : fail
        except Exception as e:
            print(str(e))
        print(len(df), '건 저장완료..')

In [17]:
def db_select(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            query = 'SELECT * FROM {}'.format(table_name)
            df = pd.read_sql(query, con = con)
        except Exception as e:
            print(str(e))
            return df

In [18]:
def db_select(df, db_name, table_name):
    with sqlite3.connect(db_name) as con:
        try:
            cur = con.cursor()
            sql = 'DELETE FROM {}'.format(table_name)
            cur.excute(sql)
        except Exception as e:
            print(str(e))